html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}
h1,h2,h3,h4,h4,h5,h6 {
    font-family: 'Inter', sans-serif;
}
h1 {
    font-size: 32px;
}
h3 {
    margin: 0px;
    font-weight: bold;
    font-family: 'Mulish';
    color: #FE563B;
    align-self: center;
    font-size: 24px;
}
.header {
    width: 100%;
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    background-color: white;
    z-index: 1024;
}
.nav__menu {
    display: none;
}
.header__img {
    width: 200px;
    margin-left: 20px;
}
.header__menu {
    margin-right: 60px;
}
.header__menu ul {
    list-style: none;
    display: inline-flex;
    grid-column-gap: 25px;
}
.header__menu li a{
    text-decoration: none;
    color: #273755;
    font-size: 18px;
}
.header__menu li a:hover {
    text-decoration: underline;
}
.segment {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    justify-items: center;
}
.segment_cover {
    width: 100%;
    height: 90vh;
    background-image: url('../assets/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 80vh 10vh;
    grid-template-columns: 49% 2% 49%;
    display: grid;
    align-items: center;
    grid-template-areas:"uno dos tres"
                         "cuatro cinco seis   ";
    justify-items: center;
}
.segment__arrow {
    min-width: 20px;
    width: 30px;
    align-self: end;
    position: relative;
    grid-area: cinco;
}
.segment__copy {
    width: 90%;
    grid-column: span 3;
    text-align: center;
    color: white;
    font-weight: bold;
}
.segment__copy p {
    font-size: 18px;
}
.segment__copy--color{
    grid-column: span 3;
    text-align: left;
    color: #273755;
    align-self: start;
    font-size: 18px;
}
.segment__copy--color p {
    color: black;
    text-align: justify;
}
.segment__copy--color ul {
    color: black;
}
.segment__copy h1 {
    font-size: 50px;
    margin: 0px;
    line-height: 50px;
}
.segment__copy span {
    font-size: 24px;
    font-weight: bold;
}

.segment__cover img {
    width: 100%;
    height: 100%;
}
.boton {
    border: none;
    min-width: 180px;
    height: 50px;
    padding: 0 30px;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #FE563B;
    transition: 3s ease all;
}
.boton--span {
    grid-column: span 7;
}
.boton__texto:hover {
    background-color: #1B1881;
    text-decoration: none;
}
#video {
    width: 100vw;
    height: 100vh;
}
.medir {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    height: 100vh;
    justify-items: center;
    align-items: center;
}
.medir__empresas {
    width: 90%;
    display: grid;
    grid-template-rows: 10vh 1fr;
    height: 100%;
    align-items: center;
}
.logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 1fr;
    align-self: start;
    width: 100vw;
    align-items: center;
    padding: 0px 30px;
}
.logos_img {
    width: 70%;
}
.proyectos {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    height: 100vh;
    justify-items: center;
    align-items: start;
    grid-template-rows: 10vh 15vh 1fr 1fr;
}
.card_servicios_texts {
    width: 60%;
    grid-template-columns: 10% 87%;
    display: grid;
    grid-column-gap: 3%;
    grid-template-rows: 30% 70%;
}
.card_servicios_texts img {
    width: 80%;
    align-self: center;
    justify-self: center;
}
.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 70%;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    grid-column-gap: 5%;
    width: 400px;
}
.card__text ul {
    margin: 0px;
    padding: 0px;
}
.card__img {
    width: 80%;
    overflow: hidden;
    display: inline-block;
}
.card__title {
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Mulish'; 
}
.proyectos__img {
    width: 100%;
}
.servicios {
    display: grid;
    grid-template-columns: repeat(3, 33.33vw);
    grid-template-rows: repeat(2, 50vh);
    height: 100vh;
    justify-items: center;
    align-items: center;
    padding-top: 10vh;
}
.card--aligns {
    align-self: start;
}
.servicios__title {
    margin: 0px;
    font-weight: bold;
    font-family: 'Mulish';
    color: #FE563B;
    align-self: center;
    font-size: 24px;
}
.carousel {
    overflow: scroll;
    position: relative;
    display: grid;
    align-items: center;
    height: 100vh;
    grid-template-rows: 20vh 40vh 40vh;
}
.carousel__container {
    white-space: nowrap;
    text-align: center;
}
.carousel-item {
    background-color: #273755;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    text-align: center;
    color: white;
}
.carousel-item:hover ~  .carousel-item{
    transform: translate3d(100px, 0 , 0);
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: scale(1.5);
}
.carousel-item__img {
    width: 50%;
    border-radius: 50%;
}
.carousel-item__header {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;
    height: 120px;
}
.carousel-item__header a {
    text-decoration: none;
    color: white;
}
.carousel-item__details {
    white-space: normal;
    text-align: left;
    padding: 0px 3%;
    margin: 0px;
    font-size: 16px;
}
.carousel-item__stracto {
    justify-self: left;
    text-align: left;
}
.carousel-item__stracto  h3{
    color: white;
}
.carousel-item__header h3 {
    margin: 0px;
}
.carousel__tile {
    color: #273755;
    margin: 0px;
    justify-self: center;
    align-self: end;
}
.boton__icon {
    width: 25px;
}
.boton-center {
    display: none;
}
footer {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: 25vh 30vh auto;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: #273755;
    color: white;
    text-align: center;
    background-image: url('../assets/footer.jpeg');
    background-image: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__title {
    grid-column: span 5;
    font-family: 'Mulish';
    align-self: start;
}
.footer__title span {
    border-bottom: 3px solid #FE563B;
}
.footer__title--size {
    grid-column: span 5;
    font-family: 'Mulish';
    align-self: end;
}
.footer__item {
    align-self: start;
}
.footer__item--img {
    width: 40px;
    height: 40px;
}
.footer__item a {
    text-decoration: none;
    color: white;
}
.footer__item h3{
    color: white;
}
.special {
    display: grid;
    justify-items: center;
    grid-row-gap: 8px;
}
.proceso {
    display: grid;
    grid-template-columns: 23vw 2.6vw 23vw 2.6vw 23vw 2.6vw 23vw;
    grid-template-rows: 30vh 50vh 20vh;
    height: 100vh;
    justify-items: center;
    align-items: center;
    color: #1B1881;
}
.proceso__title {
    width: 90%;
    grid-column: span 7;
    color: #273755;
    text-align: center;
    align-self: end;
    margin-bottom: 1%;
}
.proceso__title h1 {
    margin: 0px;
}
.proceso__title p {
    font-size: 18px;
}
.proceso_img {
    width: 40%;
}
.proceso_item {
    text-align: center;
    display: grid;
    justify-items: center;
    text-align: left;
    color: black;
    align-self: start;
    grid-row-gap: 4%;
}
.proceso_item span {
    text-align: justify;
}
.proceso_p {
    color: #FE563B;
    font-weight: bold;
}
.proceso_arrow {
    width: 100%;
    align-self: start;
}


/* Slideshow container */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 100vw;
  display: grid;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #273755;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
#slider-2 {
    display: none;
}
#slider-1 {
    display: block;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}