html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}
h1,h2,h3,h4,h4,h5,h6 {
    font-family: 'Inter', sans-serif;
}
.header {
    width: 100%;
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    background-color: white;
    z-index: 1024;
}
.header__img {
    width: 200px;
    margin-left: 20px;
}
.header__menu {
    margin-right: 60px;
}
.header__menu ul {
    list-style: none;
    display: inline-flex;
    grid-column-gap: 25px;
}
.header__menu li a{
    text-decoration: none;
    color: #273755;
    font-size: 18px;
}
.header__menu li a:hover {
    text-decoration: underline;
}
.segment {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
    justify-items: center;
}
.segment_cover {
    width: 100%;
    height: 90vh;
    background-image: url('../assets/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 80vh 10vh;
    grid-template-columns: 49% 2% 49%;
    display: grid;
    align-items: center;
    grid-template-areas:"uno dos tres"
                         "cuatro cinco seis   ";
    justify-items: center;
}
/* .segment {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 49% 2% 49%;
    align-items: center;
    justify-items: center;
    background-image: url('../assets/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 10vh 80vh
} */
.segment__arrow {
    min-width: 20px;
    width: 30px;
    align-self: end;
    position: relative;
    grid-area: cinco;
}
.segment__copy {
    width: 90%;
    grid-column: span 3;
    text-align: center;
    color: white;
}
.segment__copy--color{
    width: 90%;
    grid-column: span 3;
    text-align: center;
    color: #273755;
}
.segment__copy h1 {
    font-size: 50px;
    margin: 0px;
    line-height: 50px;
}
.segment__copy span {
    font-size: 24px;
    font-weight: bold;
}

.segment__cover img {
    width: 100%;
    height: 100%;
}
.boton {
    border: none;
    min-width: 180px;
    height: 50px;
    padding: 0 30px;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #FE563B;
    transition: 3s ease all;
}
.boton__texto:hover {
    background-color: #1B1881;
    text-decoration: none;
}
.medir {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    height: 100vh;
    justify-items: center;
    align-items: center;
}
.logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-items: center;
    grid-template-rows: 20vh repeat(3, 1fr);
}
.logos_img {
    width: 70%;
    cursor: pointer;
}
.proyectos {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    height: 100vh;
    justify-items: center;
    align-items: center;
    grid-template-rows: 20vh 80vh;
}
.proyectos__empresas {
    display: grid;
    grid-row-gap: 8%;
}
.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 70%;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    grid-column-gap: 5%;
    width: 400px;
}
.card__img {
    width: 80%;
    overflow: hidden;
    display: inline-block;
}
.card__title {
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Mulish'; 
}
.proyectos__img {
    width: 100%;
}
.servicios {
    display: grid;
    grid-template-columns: repeat(3, 33.33vw);
    grid-template-rows: repeat(2, 50vh);
    height: 100vh;
    justify-items: center;
    align-items: center;
    padding-top: 10vh;
}
.card_servicios_texts {
    width: 90%;
    display: grid;
    height: 60%;
}
.card--aligns {
    align-self: start;
}

.servicios_texts--expand {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(2,33.33%);
    justify-content: center;
    justify-items: center;
}
.servicios__title {
    font-size: 30px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Mulish';
    color: #FE563B;
}
.carousel {
    overflow: scroll;
    padding: 0px 30px;
    position: relative;
    display: grid;
    align-items: center;
    height: 100vh;
}
.carousel__container {
    white-space: nowrap;
}
.carousel-item {
    background-color: #273755;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    text-align: center;
    color: white;
}
.carousel-item:hover ~  .carousel-item{
    transform: translate3d(100px, 0 , 0);
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: scale(1.5);
}
.carousel-item__img {
    width: 50%;
    border-radius: 50%;
}
.carousel-item__header {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;
    height: 120px;
}
.carousel-item__header a {
    text-decoration: none;
    color: white;
}
.carousel-item__details {
    white-space: normal;
    text-align: left;
    padding: 0px 3%;
    font-size: 1.125rem;
}
.carousel-item__stracto {
    justify-self: left;
    text-align: left;
}
.carousel-item__header h3 {
    margin: 0px;
}
.boton__icon {
    width: 25px;
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 10vh 10vh 50vh;
    height: 70vh;
    justify-items: center;
    align-items: center;
    background-color: #273755;
    color: white;
    text-align: center;
}
.footer__title {
    grid-column: span 5;
    font-family: 'Mulish';
    border-bottom: 3px solid #FE563B;
}
.footer__title--size {
    grid-column: span 5;
    font-family: 'Mulish';
}
.footer__item--img {
    width: 40px;
}
.footer__item a {
    text-decoration: none;
    color: white;
}
.special {
    display: grid;
    justify-items: center;
    grid-row-gap: 8px;
}
