h1 {
    font-size: 22px;
}
.boton {
    min-width: 100px;
}
.boton__texto {
    font-size: 18px;
}
.segment__copy h1 {
    font-size: 35px;
    margin: 0px;
    line-height: 35px;
}
.segment__copy span {
    font-size: 18px;
}
.header__menu {
    display: none;
}
.header__img {
    width: 160px;
    margin-left: 1vw;
}
.nav__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    grid-column-gap: 7px;
    width: 50%;
}
.nav__menu a{
    text-decoration: none;
    color: #273755;
    font-size: 12px;
}
.nav__menu li a:hover {
    text-decoration: underline;
}
.nav__menu--profile {
    margin-right: 8px;
    width: 40px;
    display: flex;
    align-items: center;
}
.nav__menu--profile img{
    margin-right: 8px;
    width: 40px;
}
.nav__menu--profile p{
    margin: 0px;
    color: white;
}
.medir {
    grid-template-rows: none;
    grid-template-areas:
        "primer primer"
        "second second"
        "third third";
    grid-template-columns: none;
    align-content: center;
}
.medir__empresas {
    grid-column: span 2;
    align-self: end;
    grid-template-rows: none;
    grid-template-columns: none;
    height: 100%;
}
.medir__empresas a {
    display: none;
}
.proyectos {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 50vw);
}
.proyectos__img {
    grid-column: span 2;
    width: 70%;
    display: none;
}
.proyectos_title h1 {
    font-size: 1.5em !important;
}
.medir__img {
    display: none;
    grid-column: span 2;
    align-self: center;
}
.segment__copy--color {
    width: 100%;
    text-align: center;
}
.segment__copy--color p {
    text-align: justify;
    font-size: 16px;
}
.segment__copy--color h1 {
    margin: 0px;
    font-size: 22px;
}
.segment__copy--color ul {
    margin: 0px;
    text-align: left;
}
.proyectos__empresas {
    grid-column: span 2;
}
.card {
    width: 300px;
}
.card__title {
    font-size: 18px;
}
.card__text {
    font-size: 12px;
}
.servicios__title {
    font-size: 14px;
}
.card__text li {
    font-size: 12px;
}
.carousel__container h1 {
    text-align: left;
}
.carousel-item {
    width: 100vw
}
.logos {
    grid-template-columns: repeat(2, 1fr);
}
.logos h1{
    font-size: 22px;
}
.footer {
    display: grid;
    height: 100vh;
    grid-template-rows: 25vh 10vh auto;
    grid-template-columns: none;
}
.footer__item {
    grid-column: span 5;
}
.footer h3 {
    font-size: 12px;
}
.footer__item--img {
    width: 20px;
}
.footer__title--size {
    font-size: 15px;
}
.footer__title {
    font-size: 18px;
}
.proceso_item span {
    display: none;
}
.proceso {
    grid-template-rows: 38vh 47vh 15vh;
}
.proceso_arrow, .proceso_item {
    align-self: center;
}
.proceso_p {
    font-size: 12px;
    text-align: center;
}
.boton-siza {
    height: 40px;
    min-width: 60px;
}
.boton-siza span {
    font-size: 12px;
}
.boton__icon {
    width: 20px;
}
.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: none;
}
.boton--span {
    align-self: start;
}
.boton-center {
    display: none;
}
.segment_cover {
    grid-template-rows: 70vh 20vh;
}
.segment__arrow {
    align-self: start;
}
#slider-1 {
    display: none;
}
#slider-2 {
    display: block;
}
.prev, .next {
    color: white;
}